<a href="https://colab.research.google.com/github/laxmigurung/MircroCredentialDataAnalytics/blob/laxmigurung-patch-1/DictionaryAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 1. Two lists coverted into dictionaries
numbers_words = { 'Ten': '10' , 'Twenty': '20' , 'Thirty': '30'}
print(numbers_words)

{'Ten': '10', 'Twenty': '20', 'Thirty': '30'}

In [69]:
dict1 = {'Ten': '10', 'Twenty': '20', 'Thirty': '30'}
dict2 = {'Thirty': '30', 'Fourty': '40', 'Fifty': '50'}
dict1.update(dict2)
print(dict1)

{'Ten': '10', 'Twenty': '20', 'Thirty': '30', 'Fourty': '40', 'Fifty': '50'}

In [36]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [71]:
#Initialize dictionary with default values

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
information = {'name' : 'Laxmi' , 'age': '24', 'hobby': 'KoreanDrama'}


resDict1 = dict.fromkeys(employees, defaults)
resDict2 = dict.fromkeys(information, defaults)
resDict3 = dict.fromkeys(employees, information)
print(resDict1)
print(resDict2)
print(resDict3)


print(resDict["Kelly"])

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}
{'name': {'designation': 'Application Developer', 'salary': 8000}, 'age': {'designation': 'Application Developer', 'salary': 8000}, 'hobby': {'designation': 'Application Developer', 'salary': 8000}}
{'Kelly': {'name': 'Laxmi', 'age': '24', 'hobby': 'KoreanDrama'}, 'Emma': {'name': 'Laxmi', 'age': '24', 'hobby': 'KoreanDrama'}, 'John': {'name': 'Laxmi', 'age': '24', 'hobby': 'KoreanDrama'}}
{'designation': 'Application Developer', 'salary': 8000}

In [65]:
# Create a new dictionary by extracting the following keys from a given dictionary

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

keys = ['name' , 'salary']
#newDict={k: sampleDict[k] for k in keys}
for k,v in sampleDict.items():
  if k in keys:
    newDict[k] = v

print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [45]:
#Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]
sampleDict = {k: sampleDict[k] for k in sampleDict.keys() - keysToRemove}
print(sampleDict)

{'city': 'New york', 'age': 25}

In [53]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

print (200 in sampleDict.values())

True

In [56]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [57]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

print(min(sampleDict, key = sampleDict.get))

Math

In [64]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict ['emp3']['salary']= 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [67]:
# Create a new dictionary by extracting the following keys from a given dictionary

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

keys = ['name' , 'salary']
newDict={k: sampleDict[k] for k in keys}
#for k,v in sampleDict.items():
  #if k in keys:
    #newDict[k] = v

print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [73]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sampleDict.values():
  print(True)

True

In [74]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
200 in sampleDict.values()

True

In [76]:
5 == 10/2

True